.crew{
    background-image: url(../imagens/ImgCrew/background-crew-desktop.jpg);
    background-size: cover;
    height: 100vh;
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    color: white;
    overflow-x: hidden;
    overflow-y: hidden;
}
.imgPessoasM{
    display: none;
}
.dados{
    width: 550px;
    height: 500px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    animation: container2 3s;
}
@keyframes container2 {
    0%{
        transform: translateX(-100px);
        opacity: 0%;
    }
    100%{
        transform: translateX(0px);
        opacity: 100%;
    }
}
.dados span{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}
.dados span label{
    font-weight: bold;
    color: rgb(106, 106, 106);
}
.dados span p{
    text-transform: uppercase;
}
.dadosPessoas h2{
    text-transform: uppercase;
    font-weight: normal;
    color: rgb(195, 194, 194);
}
.dadosPessoas h1{
    text-transform: uppercase;
    font-weight: normal;
    font-size: 50px;
    margin-bottom: 0;
    margin-top: 0;
}
.dadosPessoas p{
    width: 400px;
    height:150px;
    line-height: 1.5;
    color: rgb(195, 194, 194);
}
.navbar{
    display: flex;
    gap: 10px;
}
.douglas, .mark, .victor, .anousheh{
    width: 15px;
    height: 15px;
    background-color: rgba(95, 94, 94, 0.46);
    border-radius: 20px;
    cursor: pointer;
    transition: .5s;
}
#activeNav{
    background-color: white;
}

.imgPessoas{
    height: 500px;
    width: 450px;
    margin-top: 160px;
    animation: container1 2s;
}
@keyframes container1 {
    0%{
        transform: translateX(100px);
        opacity: 0%;
    }
    100%{
        transform: translateX(0px);
        opacity: 100%;
    }
}
.imgPessoasM{
    display: none;
}
@media screen and (max-width: 720px) {
    .crew{
    background-image: url(../imagens/ImgCrew/background-crew-desktop.jpg);
    height: 100vh;
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.imgPessoas{
    display: none;
}
.imgPessoasM{
    display: block;
    height: 250px;
    width: 250px;
    border-bottom: 1px solid rgb(117, 116, 116);
    padding-left: 20px;
    padding-right: 20px;
    animation: container1 2s;
}
@keyframes container1 {
    0%{
        transform: translateX(100px);
        opacity: 0%;
    }
    100%{
        transform: translateX(0px);
        opacity: 100%;
    }
}

.dados{
    width: 90%;
    height: 250px;
    display: flex;
    align-items: center;

}
.dados span{
    font-size: 15px;
}
.dadosPessoas{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0px;
}
.dadosPessoas h2{
    font-size: 21px;
}
.dadosPessoas h1{
    font-size: 25px;
}
.dadosPessoas p{
    width: 100%;
    height: 100px;
}
.navbar{
    margin-top: 30px;
    gap: 50px;
    
}
.douglas, .mark, .victor, .anousheh{
    width: 25px;
    height: 25px;
    background-color: rgba(95, 94, 94, 0.46);
    border-radius: 20px;
    cursor: pointer;
    transition: .5s;
}
}