.tecnologia{
    background-image: url(../imagens/ImgTecnologia/background-technology-desktop.jpg);
    background-size: cover;
    height: 100vh;
    display: flex;
    gap: 150px;
    justify-content: flex-end;
    align-items: center;
    color: white;
    overflow-X: hidden;
}
.imgNavesM{
    display: none;
}
.containerpai{
animation: container2 3s;
}
@keyframes container2 {
    0%{
        transform: translateX(-100px);
        opacity: 0%;
    }
    100%{
        transform: translateX(0px);
        opacity: 100%;
    }
}
.cabecalho{
   display: flex;
   width: 200px;
   justify-content: center;
   align-items: center;
   gap: 15px;
   margin-bottom: 40px;
}
.cabecalho span{
    font-weight: bold;
    color: rgb(84, 83, 83);
}
.dados{
    width: 550px;
    height: 310px;
    display: flex;
    flex-direction: row-reverse;
    gap: 50px;
    justify-content: space-around;
}
.dadosNaves{
    display: flex;
    flex-direction: column;
}
.dadosNaves h2{
    text-transform: uppercase;
    font-weight: normal;
    font-size: 12px;
    height: 20px;
    width: 120px;
    color: rgb(195, 194, 194);
}
.dadosNaves h1{
    text-transform: uppercase;
    font-weight: normal;
    font-size: 50px;
    margin-bottom: 0;
    margin-top: 0;
}
.dadosNaves p{
    width: 400px;
    height:150px;
    line-height: 1.5;
    color: rgb(195, 194, 194);
}
.navbar{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.launch, .spacePort, .spaceCapsula{
    border: 1px solid;
    width: 100px;
    height: 100px;
    border-radius: 60px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;
    font-size: 40px;
}
#activeNav{
    background-color: white;
    color: black;
    border-color: white;
}
.imgNaves{
    animation: container1 2s;
}
@keyframes container1 {
    0%{
        transform: translateX(100px);
        opacity: 0%;
    }
    100%{
        transform: translateX(0px);
        opacity: 100%;
    }
}

.imgNaves img{
    margin-top: 70px;
    height: 450px;
    width: 400px;
}
@media screen and (max-width: 720px) {
    .containerpai{
        display: block;
    }
    .tecnologia{
        justify-content: center;
        flex-direction: column;
        gap: 0;
    }
    .imgNaves{
        display: none;
        
    }
    .imgNavesM{
        display: block;
        width: 100%;
        margin-top: 70px;
        animation: container1 2s;
    }
    @keyframes container1 {
        0%{
            transform: translateX(100px);
            opacity: 0%;
        }
        100%{
            transform: translateX(0px);
            opacity: 100%;
        }
    }
    .dados{
        flex-direction: column-reverse;
        width: 99%;
        align-items: center;
        gap: 0px;
    }
    .dados h1{
        font-size: 22px;
    }
    .dados p{
        width: 99%;
    }
    .dadosNaves{
        display: flex;
        align-items: center;
        width: 90%;
    }
    .navbar{
        flex-direction: row;
        gap: 30px;
    }
    .launch, .spacePort, .spaceCapsula{
        border: 1px solid;
        width: 70px;
        height: 70px;
        border-radius: 60px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: .5s;
        font-size: 40px;
    }
    
}